<section>
  <div class="gap gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-3">
              <aside class="sidebar static">
                <div class="widget">
                  <h4 class="widget-title">
                    = t ".browse"
                  </h4>
                  <ul class="naves">
                    <li>
                      <i class="fas fa-clipboard"></i>
                      <a href="#" title="">
                        = t ".news_feed"	
                      </a>
                    </li>
                    <li>
                      <i class="fas fa-file"></i>
                      <a href="#" title="">
                        = t ".my_page"
                      </a>
                    </li>
                    <li>
                      <i class="fas fa-user"></i>
                      <a href="#" title="">
                        = t ".following"
                      </a>
                    </li>
                    <li>
                      <i class="fas fa-image"></i>
                      <a href="#" title="">
                        = t ".images"
                      </a>
                    </li>
                    <li>
                      <i class="fas fa-calendar"></i>
                      <a href="#" title="">
                        = t ".events"
                      </a>
                    </li>
                    <li>
                      <i class="fas fa-sign-out-alt"></i>
                      <a href="#" title="">
                        = t ".logout"
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="widget">
                  <h4 class="widget-title">
                    = t ".recent"
                  </h4>
                  <ul class="activitiez">
                    <li>
                      <div class="activity-meta">
                        <i>10 hours Ago</i>
                        <span><a href="#" title="">Commented on Video posted </a></span>
                        <h6>by <a href="#">black demon.</a></h6>
                      </div>
                    </li>
                    <li>
                      <div class="activity-meta">
                        <i>30 Days Ago</i>
                        <span><a href="#" title="">Posted your status. “Hello guys, how are you?”</a></span>
                      </div>
                    </li>
                    <li>
                      <div class="activity-meta">
                        <i>2 Years Ago</i>
                        <span><a href="#" title="">Share a video on her timeline.</a></span>
                        <h6>"<a href="#">you are so funny mr.been.</a>"</h6>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="widget stick-widget">
                  <h4 class="widget-title">
                    = t ".should_follow"	
                  </h4>
                  <ul class="followers">
                    <li>
                      <figure><img src="#" alt=""></figure>
                      <div class="friend-meta">
                        <h4><a href="#" title="">Kelly Bill</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                    <li>
                      <figure><img src="#" alt=""></figure>
                      <div class="friend-meta">
                        <h4><a href="#" title="">Issabel</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                    <li>
                      <figure><img src="#" alt=""></figure>
                      <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Andrew</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                    <li>
                      <figure><img src="#" alt=""></figure>
                      <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Sophia</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </aside>
            </div>
            <div class="col-lg-6">
              <div class="central-meta">
                <div class="new-postbox">
                  <figure>
                    <img src="#" alt="">
                  </figure>
                  <div class="newpst-input">
                    <form method="post">
                      <textarea rows="2" placeholder="write something"></textarea>
                      <div class="attachments">
                        <ul>
                          <li>
                            <i class="fa fa-music"></i>
                            <label class="fileContainer">
                              <input type="file">
                            </label>
                          </li>
                          <li>
                            <i class="fa fa-image"></i>
                            <label class="fileContainer">
                              <input type="file">
                            </label>
                          </li>
                          <li>
                            <i class="fa fa-video-camera"></i>
                            <label class="fileContainer">
                              <input type="file">
                            </label>
                          </li>
                          <li>
                            <i class="fa fa-camera"></i>
                            <label class="fileContainer">
                              <input type="file">
                            </label>
                          </li>
                          <li>
                            <button type="submit">Post</button>
                          </li>
                        </ul>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="loadMore">
              <div class="central-meta item">
                <div class="user-post">
                  <div class="friend-info">
                    <figure>
                      <img src="#" alt="">
                    </figure>
                    <div class="friend-name">
                      <ins><a href="#" title="">Janice Griffith</a></ins>
                      <span>published: june,2 2018 19:PM</span>
                    </div>
                    <div class="post-meta">
                      <img src="#" alt="">
                      <div class="we-video-info">
                        <ul>
                          <li>
                            <span class="views" data-toggle="tooltip" title="views">
                              <i class="fa fa-eye"></i>
                              <ins>1.2k</ins>
                            </span>
                          </li>
                          <li>
                            <span class="comment" data-toggle="tooltip" title="Comments">
                              <i class="fas fa-comments"></i>
                              <ins>52</ins>
                            </span>
                          </li>
                          <li>
                            <span class="like" data-toggle="tooltip" title="like">
                              <i class="fas fa-heart"></i>
                              <ins>2.2k</ins>
                            </span>
                          </li>
                          <li>
                            <span class="dislike" data-toggle="tooltip" title="dislike">
                              <i class="fas fa-heartbeat"></i>
                              <ins>200</ins>
                            </span>
                          </li>
                        </ul>
                      </div>
                      <div class="description">
                        <p>
                          World's most beautiful car in Curabitur <a href="#" title="">#test drive booking !</a> the most beatuiful car available in america and the saudia arabia, you can book your test drive by our official website
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="coment-area">
                    <ul class="we-comet">
                      <li>
                        <div class="comet-avatar">
                          <img src="#" alt="">
                        </div>
                        <div class="we-comment">
                          <div class="coment-head">
                            <h5><a href="#" title="">Jason borne</a></h5>
                            <span>1 year ago</span>
                            <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                          </div>
                          <p>we are working for the dance and sing songs. this car is very awesome for the youngster. please vote this car and like our post</p>
                        </div>
                        <ul>
                          <li>
                            <div class="comet-avatar">
                              <img src="#" alt="">
                            </div>
                            <div class="we-comment">
                              <div class="coment-head">
                                <h5><a href="#" title="">alexendra dadrio</a></h5>
                                <span>1 month ago</span>
                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                              </div>
                              <p>yes, really very awesome car i see the features of this car in the official website of <a href="#" title="">#Mercedes-Benz</a> and really impressed :-)</p>
                            </div>
                          </li>
                          <li>
                            <div class="comet-avatar">
                              <img src="#" alt="">
                            </div>
                            <div class="we-comment">
                              <div class="coment-head">
                                <h5><a href="#" title="">Olivia</a></h5>
                                <span>16 days ago</span>
                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                              </div>
                              <p>i like lexus cars, lexus cars are most beautiful with the awesome features, but this car is really outstanding than lexus</p>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <div class="comet-avatar">
                          <img src="#" alt="">
                        </div>
                        <div class="we-comment">
                          <div class="coment-head">
                            <h5><a href="time-line.html" title="">Donald Trump</a></h5>
                            <span>1 week ago</span>
                            <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                          </div>
                          <p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel
                            <i class="em em-smiley"></i>
                          </p>
                        </div>
                      </li>
                      <li>
                        <a href="#" title="" class="showmore underline">more comments</a>
                      </li>
                      <li class="post-comment">
                        <div class="comet-avatar">
                          <img src="#" alt="">
                        </div>
                        <div class="post-comt-box">
                          <form method="post">
                            <textarea placeholder="Post your comment"></textarea>
                            <div class="add-smiles">
                              <span class="em em-expressionless" title="add icon"></span>
                            </div>
                            <div class="smiles-bunch">
                              <i class="em em---1"></i>
                              <i class="em em-smiley"></i>
                              <i class="em em-anguished"></i>
                              <i class="em em-laughing"></i>
                              <i class="em em-angry"></i>
                              <i class="em em-astonished"></i>
                              <i class="em em-blush"></i>
                              <i class="em em-disappointed"></i>
                              <i class="em em-worried"></i>
                              <i class="em em-kissing_heart"></i>
                              <i class="em em-rage"></i>
                              <i class="em em-stuck_out_tongue"></i>
                            </div>
                            <button type="submit"></button>
                          </form>	
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="central-meta item">
                <div class="user-post">
                  <div class="friend-info">
                    <figure>
                      <img src="#" alt="">
                    </figure>
                    <div class="friend-name">
                      <ins><a href="#" title="">Sara Grey</a></ins>
                      <span>published: june,2 2018 19:PM</span>
                    </div>
                    <div class="post-meta">
                      <iframe src="https://player.vimeo.com/video/15232052" height="315" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      <div class="we-video-info">
                        <ul>
                          <li>
                            <span class="views" data-toggle="tooltip" title="views">
                              <i class="fa fa-eye"></i>
                              <ins>1.2k</ins>
                            </span>
                          </li>
                          <li>
                            <span class="comment" data-toggle="tooltip" title="Comments">
                              <i class="fas fa-comments"></i>
                              <ins>52</ins>
                            </span>
                          </li>
                          <li>
                            <span class="like" data-toggle="tooltip" title="like">
                              <i class="fas fa-heart"></i>
                              <ins>2.2k</ins>
                            </span>
                          </li>
                          <li>
                            <span class="dislike" data-toggle="tooltip" title="dislike">
                              <i class="fas fa-heartbeat"></i>
                              <ins>200</ins>
                            </span>
                          </li>
                        </ul>
                      </div>
                      <div class="description">
                        <p>
                          Lonely Cat Enjoying in Summer Curabitur <a href="#" title="">#mypage</a> ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="coment-area">
                    <ul class="we-comet">
                      <li>
                        <div class="comet-avatar">
                          <img src="#" alt="">
                        </div>
                        <div class="we-comment">
                          <div class="coment-head">
                            <h5><a href="#" title="">Jason borne</a></h5>
                            <span>1 year ago</span>
                            <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                          </div>
                          <p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel</p>
                        </div>
                      </li>
                      <li>
                        <div class="comet-avatar">
                          <img src="#" alt="">
                        </div>
                        <div class="we-comment">
                          <div class="coment-head">
                            <h5><a href="#" title="">Sophia</a></h5>
                            <span>1 week ago</span>
                            <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                          </div>
                          <p>we are working for the dance and sing songs. this video is very awesome for the youngster.
                            <i class="em em-smiley"></i>
                          </p>
                        </div>
                      </li>
                      <li>
                        <a href="#" title="" class="showmore underline">more comments</a>
                      </li>
                      <li class="post-comment">
                        <div class="comet-avatar">
                          <img src="#" alt="">
                        </div>
                        <div class="post-comt-box">
                          <form method="post">
                            <textarea placeholder="Post your comment"></textarea>
                            <div class="add-smiles">
                              <span class="em em-expressionless" title="add icon"></span>
                            </div>
                            <div class="smiles-bunch">
                              <i class="em em---1"></i>
                              <i class="em em-smiley"></i>
                              <i class="em em-anguished"></i>
                              <i class="em em-laughing"></i>
                              <i class="em em-angry"></i>
                              <i class="em em-astonished"></i>
                              <i class="em em-blush"></i>
                              <i class="em em-disappointed"></i>
                              <i class="em em-worried"></i>
                              <i class="em em-kissing_heart"></i>
                              <i class="em em-rage"></i>
                              <i class="em em-stuck_out_tongue"></i>
                            </div>
                            <button type="submit"></button>
                          </form>	
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="central-meta item">
                <div class="user-post">
                  <div class="friend-info">
                    <figure>
                      <img src="#" alt="">
                    </figure>
                    <div class="friend-name">
                      <ins><a href="#" title="">Sophia</a></ins>
                      <span>published: january,5 2018 19:PM</span>
                    </div>
                    <div class="post-meta">
                      <div class="post-map">
                        <div class="nearby-map">
                          <div id="map-canvas"></div>
                        </div>
                      </div>
                      <div class="we-video-info">
                        <ul>
                          <li>
                            <span class="views" data-toggle="tooltip" title="views">
                              <i class="fa fa-eye"></i>
                              <ins>1.2k</ins>
                            </span>
                          </li>
                          <li>
                            <span class="comment" data-toggle="tooltip" title="Comments">
                              <i class="fas fa-comments"></i>
                              <ins>52</ins>
                            </span>
                          </li>
                          <li>
                            <span class="like" data-toggle="tooltip" title="like">
                              <i class="fas fa-heart"></i>
                              <ins>2.2k</ins>
                            </span>
                          </li>
                          <li>
                            <span class="dislike" data-toggle="tooltip" title="dislike">
                              <i class="fas fa-heartbeat"></i>
                              <ins>200</ins>
                            </span>
                          </li>
                        </ul>
                      </div>
                      <div class="description">
                        <p>
                          Curabitur Lonely Cat Enjoying in Summer <a href="#" title="">#mypage</a> ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="coment-area">
                    <ul class="we-comet">
                      <li>
                        <div class="comet-avatar">
                          <img src="" alt="">
                        </div>
                        <div class="we-comment">
                          <div class="coment-head">
                            <h5><a href="#" title="">Jason borne</a></h5>
                            <span>1 year ago</span>
                            <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                          </div>
                          <p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel</p>
                        </div>
                      </li>
                      <li>
                        <div class="comet-avatar">
                          <img src="#" alt="">
                        </div>
                        <div class="we-comment">
                          <div class="coment-head">
                            <h5><a href="#" title="">Sophia</a></h5>
                            <span>1 week ago</span>
                            <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                          </div>
                          <p>we are working for the dance and sing songs. this video is very awesome for the youngster.
                            <i class="em em-smiley"></i>
                          </p>
                        </div>
                      </li>
                      <li>
                        <a href="#" title="" class="showmore underline">more comments</a>
                      </li>
                      <li class="post-comment">
                        <div class="comet-avatar">
                          <img src="#" alt="">
                        </div>
                        <div class="post-comt-box">
                          <form method="post">
                            <textarea placeholder="Post your comment"></textarea>
                            <div class="add-smiles">
                              <span class="em em-expressionless" title="add icon"></span>
                            </div>
                            <div class="smiles-bunch">
                              <i class="em em---1"></i>
                              <i class="em em-smiley"></i>
                              <i class="em em-anguished"></i>
                              <i class="em em-laughing"></i>
                              <i class="em em-angry"></i>
                              <i class="em em-astonished"></i>
                              <i class="em em-blush"></i>
                              <i class="em em-disappointed"></i>
                              <i class="em em-worried"></i>
                              <i class="em em-kissing_heart"></i>
                              <i class="em em-rage"></i>
                              <i class="em em-stuck_out_tongue"></i>
                            </div>
                            <button type="submit"></button>
                          </form>	
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="central-meta item">
                <div class="user-post">
                  <div class="friend-info">
                    <figure>
                      <img alt="" src="#">
                    </figure>
                    <div class="friend-name">
                      <ins><a title="" href="#">Janice Griffith</a></ins>
                      <span>published: june,2 2018 19:PM</span>
                    </div>
                    <div class="description">
                      <p>
                        Curabitur World's most beautiful car in <a title="" href="#">#test drive booking !</a> the most beatuiful car available in america and the saudia arabia, you can book your test drive by our official website
                      </p>
                    </div>
                    <div class="post-meta">
                      <div class="linked-image align-left">
                        <a title="" href="#"><img alt="" src="#"></a>
                      </div>
                      <div class="detail">
                        <span>Love Maid - ChillGroves</span>
                        <p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... </p>
                        <a title="" href="#">www.sample.com</a>
                      </div>		
                      <div class="we-video-info">
                        <ul>
                          <li>
                            <span class="views" data-toggle="tooltip" title="views">
                              <i class="fa fa-eye"></i>
                              <ins>1.2k</ins>
                            </span>
                          </li>
                          <li>
                            <span class="comment" data-toggle="tooltip" title="Comments">
                              <i class="fas fa-comments"></i>
                              <ins>52</ins>
                            </span>
                          </li>
                          <li>
                            <span class="like" data-toggle="tooltip" title="like">
                              <i class="fas fa-heart"></i>
                              <ins>2.2k</ins>
                            </span>
                          </li>
                          <li>
                            <span class="dislike" data-toggle="tooltip" title="dislike">
                              <i class="fas fa-heartbeat"></i>
                              <ins>200</ins>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="col-lg-3">
              <aside class="sidebar static">
                <div class="widget">
                  <h4 class="widget-title">
                    = t ".your_page"
                  </h4>	      
                  <div class="your-page">
                    <figure>
                      <a href="#" title=""><img src="#" alt=""></a>
                    </figure>
                    <div class="page-meta">
                      <a href="#" title="" class="underline">
                        = t ".my_page"
                      </a>
                    </div>
                    <div class="page-likes">
                      <ul class="nav nav-tabs likes-btn">
                        <li class="nav-item">
                          <a class="active" href="#link1" data-toggle="tab">
                            = t ".likes"
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="" href="#link2" data-toggle="tab">
                            = t ".views"
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active fade show " id="link1" >
                        <span><i class="fas fa-heart"></i>884</span>
                          <a href="#" title="weekly-likes">35 
                            = t ".new_likes"
                          </a>
                          <div class="users-thumb-list">
                          <a href="#" title="Anderw" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>
                          <a href="#" title="frank" data-toggle="tooltip">
                            <img src="##" alt="">  
                          </a>
                          <a href="#" title="Sara" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>
                          <a href="#" title="Amy" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>
                          <a href="#" title="Ema" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>
                          <a href="#" title="Sophie" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>
                          <a href="#" title="Maria" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>  
                          </div>
                        </div>
                        <div class="tab-pane fade" id="link2" >
                          <span><i class="ti-eye"></i>440</span>
                          <a href="#" title="weekly-likes">440 new views this week</a>
                          <div class="users-thumb-list">
                          <a href="#" title="Anderw" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>
                          <a href="#" title="frank" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>
                          <a href="#" title="Sara" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>
                          <a href="#" title="Amy" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>
                          <a href="#" title="Ema" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>
                          <a href="#" title="Sophie" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>
                          <a href="#" title="Maria" data-toggle="tooltip">
                            <img src="#" alt="">  
                          </a>  
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="widget">
                  <div class="banner medium-opacity bluesh">
                    <div class="bg-image" style="background-image: url(#)"></div>
                    <div class="baner-top">
                      <span><img alt="" src="#"></span>
                      <i class="fa fa-ellipsis-h"></i>
                    </div>
                    <div class="banermeta">
                      <p>
                        = t ".new_events"
                      </p>
                      <a data-ripple="" title="" href="#">
                        = t ".start_now"
                      </a>
                    </div>
                  </div>											      
                </div>
                <div class="widget friend-list stick-widget">
                  <h4 class="widget-title">
                    = t ".following"
                  </h4>
                  <div id="searchDir"></div>
                  <ul id="people-list" class="friendz-list">
                    <li>
                      <figure>
                        <img src="##" alt="">
                        <span class="status f-online"></span>
                      </figure>
                      <div class="friendz-meta">
                        <a href="#">bucky barnes</a>
                        <i>wintersolder@gmail.com</i>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <img src="#" alt="">
                        <span class="status f-away"></span>
                      </figure>
                      <div class="friendz-meta">
                        <a href="#">Sarah Loren</a>
                        <i>barnes@gmail.com</i>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <img src="#" alt="">
                        <span class="status f-off"></span>
                      </figure>
                      <div class="friendz-meta">
                        <a href="#">jason borne</a>
                        <i>jasonb@gmail.com</i>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <img src="#" alt="">
                        <span class="status f-off"></span>
                      </figure>
                      <div class="friendz-meta">
                        <a href="#">Cameron diaz</a>
                        <i>jasonb@gmail.com</i>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <img src="#" alt="">
                        <span class="status f-online"></span>
                      </figure>
                      <div class="friendz-meta">
                        <a href="#">daniel warber</a>
                        <i>jasonb@gmail.com</i>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <img src="#" alt="">
                        <span class="status f-away"></span>
                      </figure>
                      <div class="friendz-meta">
                        <a href="#">andrew</a>
                        <i>jasonb@gmail.com</i>
                      </div>
                    </li>
                    <li>
                            
                      <figure>
                        <img src="#" alt="">
                        <span class="status f-off"></span>
                      </figure>
                      <div class="friendz-meta">
                        <a href="#">amy watson</a>
                        <i>jasonb@gmail.com</i>
                      </div>
                    </li>
                    <li>
                            
                      <figure>
                        <img src="#" alt="">
                        <span class="status f-online"></span>
                      </figure>
                      <div class="friendz-meta">
                        <a href="#">daniel warber</a>
                        <i>jasonb@gmail.com</i>
                      </div>
                    </li>
                    <li>
                            
                      <figure>
                        <img src="#" alt="">
                        <span class="status f-away"></span>
                      </figure>
                      <div class="friendz-meta">
                        <a href="#">Sarah Loren</a>
                        <i>barnes@gmail.com</i>
                      </div>
                    </li>
                  </ul>
                  <div class="chat-box">
                    <div class="chat-head">
                      <span class="status f-online"></span>
                      <h6>Bucky Barnes</h6>
                      <div class="more">
                        <span><i class="ti-more-alt"></i></span>
                        <span class="close-mesage"><i class="ti-close"></i></span>
                      </div>
                    </div>
                    <div class="chat-list">
                      <ul>
                        <li class="me">
                          <div class="chat-thumb"><img src="#" alt=""></div>
                          <div class="notification-event">
                            <span class="chat-message-item">
                              Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                            </span>
                            <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                          </div>
                        </li>
                        <li class="you">
                          <div class="chat-thumb"><img src="#" alt=""></div>
                          <div class="notification-event">
                            <span class="chat-message-item">
                              Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                            </span>
                            <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                          </div>
                        </li>
                        <li class="me">
                          <div class="chat-thumb"><img src="#" alt=""></div>
                          <div class="notification-event">
                            <span class="chat-message-item">
                              Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                            </span>
                            <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                          </div>
                        </li>
                      </ul>
                      <form class="text-box">
                        <textarea placeholder="Post enter to post..."></textarea>
                        <div class="add-smiles">
                          <span title="add icon" class="em em-expressionless"></span>
                        </div>
                        <div class="smiles-bunch">
                          <i class="em em---1"></i>
                          <i class="em em-smiley"></i>
                          <i class="em em-anguished"></i>
                          <i class="em em-laughing"></i>
                          <i class="em em-angry"></i>
                          <i class="em em-astonished"></i>
                          <i class="em em-blush"></i>
                          <i class="em em-disappointed"></i>
                          <i class="em em-worried"></i>
                          <i class="em em-kissing_heart"></i>
                          <i class="em em-rage"></i>
                          <i class="em em-stuck_out_tongue"></i>
                        </div>
                        <button type="submit"></button>
                      </form>
                    </div>
                  </div>
                </div>
              </aside>
            </div
          </div>	
        </div>
      </div>
    </div>
  </div>	
</section>
