@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
@import "style";
@import "color";
@import "responsive";

// Custom here
a{
  cursor: pointer;
}
.btn{
  position: relative;
    background: #088DCD;
    border: 1px solid #088DCD;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    padding: 7px 30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    font-weight: 600;
    border-radius: 0;
    &:hover{
      box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
      opacity: 0.8;
    }
}
.status-btn{
  font-size: 12px;
  font-weight: 400;
  padding: 3px 10px;
  margin: 0;
}
.padding-50{
  padding: 50px!important;
}
.form-group{
  position: relative;
  input,textarea{
    display: block;
    background: 0 0;
    padding: .125rem .125rem .0625rem;
    font-size: 1rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    transition: all .28s ease;
    box-shadow: none;
    &:focus{
      .control-label{
        color: #088dcd;
        font-size: .8rem;
        top: -1rem;
        left: 0;
      }
      .mtrl-select:before{
        width: 100%;
        left: 0;
      }
    }
  }
  input{
    height: 35px;
  }
  .control-label{
    color: #088dcd;
    font-size: .8rem;
    top: -25px;
    left: 0;
    position: absolute;
    pointer-events: none;
    padding-left: .125rem;
    z-index: 1;
    font-weight: 400;
    transition: all .28s ease;
  }
  .mtrl-select{
    position: relative;
    border-bottom: .0625rem solid #e1e8ed;
    display: block;
  }
  .mtrl-select:before{
    content: '';
    height: .125rem;
    width: 0;
    left: 50%;
    bottom: -.0625rem;
    position: absolute;
    background: #088dcd;
    transition: left .28s ease,width .28s ease;
    z-index: 2;
  }
  .radio{
    display: inline-block;
    width: 20%;
  }
  input[type=radio]{
    display: inline-block;
    margin-bottom: 0;
    width: auto;
    height: auto;
    margin-right: 10px;
  }
  input[type=file]{
    height: auto;
    display: none;
  }
  .file-wrapper{
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    background: rgba(#000, 0.7);
    padding: 0 15px;
    color: #fff;
    font-size: 11px;
    margin-top: 10px;
    transition: all ease 0.3s;
    &:hover{
      box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
      opacity: 0.6;
    }
    i{
      margin-right: 10px;
      font-size: 16px;
    }
  }
}
label{
  display: inline-block;
  margin-bottom: .5rem;
}
.about .personal{
  p{
    span{
      font-weight: 600;
      color: #252525;
      margin-right: 15px;
      i{
        margin-right: 10px;
      }
    }
  }
}
.file-name{
  display: block;
}

.topbar{
  .setting-area{
    .dropdowns.show{
      opacity: 1;
      visibility: visible;
    }
  }
}

#follow_user{
  display: inline-block;
  input[type=submit]{
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 4px 20px;
    border: 1px solid transparent;
    background: #088dcd;
    transition: all ease 0.3s;
    &:hover{
      box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
      opacity: 0.8;
    }
  }
}
.follow-count{
  display: inline-block;
  span{
    color: #fff;
    margin-right: 20px;
    text-shadow: 0 2px 0 #4a4a4a;
  }
}
.top-area{
  .user-img{
    img{
      width: 40px;
    }
  }
}
.pagy-nav{
  margin-top: 20px;
  .page{
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    text-align: center;
    background: #252525;
    color: #fff;
    margin: 0 5px;
    font-size: 12px;
    a{
      display: block;
      color: #fff;
    }
    &:hover{
      opacity: 0.5;
    }
  }
  .active{
    opacity: 0.5;
  }
}
.attachments{
  display: flex;
  justify-content: space-between;
  .form-control{
    width: auto;
    height: 30px;
    background: #fefefe;
    border-color: #ebebeb;
    border-radius: 0;
    padding: 5px 25px;
    &::-webkit-input-placeholder {
      font-size: 12px;
    }
    &::-moz-placeholder {
      font-size: 12px;
    }
    &:-ms-input-placeholder {
      font-size: 12px;
    }
    &:-moz-placeholder {
      font-size: 12px;
    }
  }
  .check_in{
    position: relative;
    i{
      position: absolute;
      left: 10px;
      font-size: 12px;
      top: 10px;
    }
  }
}
.ui-menu-item{
  padding: 5px;
  display: flex;
  align-items: center;
  .ui-menu-item-wrapper{
    display: inline-block;
    overflow: hidden;
  }
  .ui-state-active{
    background: transparent;
  }
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid transparent;
    font-weight: normal;
    color: #333;
    text-decoration: underline;
}
.buttons{
  position: absolute;
  top: 0;
  right: 0;
  button{
    background: none;
    border: none;
  }
  ul{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      display: inline-block;
      margin: 0 5px;
      a:hover{
        color: #007bff;
      }
    }
  }
}
.friend-name{
  .check-in{
    margin-left: 20px;
    width: auto;
    line-height: 35px;
  }
  .check-in-link{
    color: #007bff;
    margin-left: 5px;
  }
}

label.review_thumbnail{
  margin: 0!important;
}
.card-columns{
  .card{
    margin-bottom: 20px;
  }
}
.central-meta{
  .card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.01) 50%, transparent 100%);
    border-radius: 4px;
  }
  .card{
    border-radius: 4px;
    transition: all .2s linear;
    margin-bottom: 30px;
    &:hover{
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }
  .card-title{
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #252525;
  }
}

@media screen and (min-width: 576px){
  .central-meta .card-deck .card{
    flex: 1 0 20%;
  }
}

.item-location{
  .card-img-wrapper{
    position: relative;
    span.city{
      position: absolute;
      color: #fff;
      background: rgba(0,0,0,0.7);
      bottom: 0;
      left: 0;
      padding: 5px 12px;
      text-transform: capitalize;
      font-weight: 600;
      letter-spacing: 2px;
      i{
        margin-right: 5px;
      }
    }
    span.popular{
      font-weight: 400;
      position: absolute;
      left: 10px;
      top: 10px;
      background: #ffe0c0;
      border: 1px solid #000;
      color: #000;
      box-shadow: 4px 4px 0 rgba(0,0,0,.1);
      border-radius: 0;
      line-height: 1;
      padding: 5px 10px;
      font-size: 12px;
      height: auto;
      min-width: auto;
      min-height: auto;
      text-transform: uppercase;
    }
  }
  .card-text{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 1px;
    i{
      color: #dc3545;
      margin-right: 5px;
    }
  }
}
.page-header{
  background-image: image-url("banner-locations.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 15px;
  .header-inner{
    >h2{
      font-size: 36px;
      font-weight: 600;
      letter-spacing: 3px;
      color: #fff;
    }
  }
}
.item-city{
  .card-title{
    color: #fff;
  }
}
.title-show-location{
  font-weight: 600;
  margin-bottom: 20px;
}
.content-show-location{
  margin-bottom: 10px;
}
#map{
  width: 100%;
  height: 400px;
}
